:root{
    --branding-color: #106C54;
    --secondary-color: #f5f2fe;
    --heading-font-family : "Playfair Display", serif;
    --default-font-family : "Poppins", sans-serif;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font-family);
    font-weight: bold;
    color: black;
    text-align: center;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}
h2 {
    font-size: 64px;
}
p {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.container-fluid{
  background: var(--branding-color);
}
.navbar-brand{
  color: var(--secondary-color);
}
.nav-link{
  color: var(--secondary-color);
}
.navbar-toggler{
  background: var(--secondary-color);
}
.container{
  margin-bottom: 30px;
}
.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 0;
}

.hero p {
font-size: 36px;
font-weight: bold;
margin: 0;
color: #272142;
}

.hero h2{
    font-weight: var(--default-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

.btn-branding{
    background: var(--branding-color);
    border-radius: 4px;
    color : white;
    line-height: 27px;
    font-size: 18px;
    padding : 15 px 30 px;
}
.homepage-link {
  color: var(--branding-color);
  text-align: center;
  display: block;
}
.contact-link {
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .yoga-link {
    background: var(--branding-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  .weather-link {
    background: var(--branding-color);
    box-shadow: var(--box-shadow);
    color: white;
}
.yogurt-link {
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  background: var(--secondary-color);
  margin: 10px;
  padding: 20px;
  border-radius: 4px;

}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--branding-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.icon {
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 390){
    h1{
      text-align: center;
      font-size: 40px;
    }
    h2 {
      text-align: center;
      font-size: 32px;
    }
    p{
      text-align: center;
    }
  }
