:root{
    --branding-color: #106C54;
    --secondary-color: #f5f2fe;
    --heading-font-family : "Playfair Display", serif;
    --default-font-family : "Poppins", sans-serif;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font-family);
    font-weight: bold;
    color: black;
    text-align: center;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}
h2 {
    font-size: 64px;
}
p {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.container-fluid{
  background: var(--branding-color);
}
.about-item{
  background:#2C3C55;
}
.navbar-brand{
  color: var(--secondary-color);
}
.nav-link{
  color: var(--secondary-color);
}
.navbar-toggler{
  background: var(--secondary-color);
}

.container{
  margin-bottom: 30px;
}
.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
font-size: 36px;
font-weight: bold;
margin: 0;
color: #272142;
}

.hero h2{
    font-weight: var(--default-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

.homepage-link {
  color: var(--branding-color);
  text-align: center;
  display: block;
}
.contact-link {
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .first-project-link {
    background: var(--branding-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  .weather-link {
    background: var(--branding-color);
    box-shadow: var(--box-shadow);
    color: white;
}
.dictionnary-link {
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.translation-link {
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  background: var(--secondary-color);
  margin: 10px;
  padding: 20px;
  border-radius: 4px;

}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--branding-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.icon {
  text-align: center;
  margin-bottom: 20px;
}

 .btn-branding {
    background: #2C3C55;
    border-radius: 4px;
    color : white;
    line-height: 27px;
    font-size: 18px;
    padding : 20px 50px;
    display: block;
    margin: 0 25% auto;
    box-shadow: var(--box-shadow);
}

.btn-branding:hover {
  color: #2C3C55;
  border: #2C3C55;
}

 .content-container{
padding: 160px 20px;
text-align: center;
padding: 0;
 }

 .content{
  margin: 20px;
   }
  
 .content h1 {
    font-size: 64px;
    line-height: 80px;
    }
    
  .content h2 {
      font-size: 18px;
      line-height: 80px;
      font-family: var(--default-font-family);
      }
    
  .content h3 {
    font-size: 24px;
    font-family: var(--default-font-family);
    line-height: 1.5;
  }

  .content p {
    font-size: 14px;
  }

  .contact-body {
    background: linear-gradient(108.7deg, rgb(224, 235, 213) 8.1%, rgb(3, 59, 57) 91.2%);
  }

  .logo {
max-width: 30px;
  }

  .active {
    color: rgb(17, 16, 16) !important;
    font-weight: bold;
    text-decoration: underline;
  }

  footer{
    margin: 60px 30px;
  }
  
  footer .mail {
text-align: center;
text-decoration: none;
font-size: 24px;
color: var(--branding-color);
  }

  footer .icon-social-media a {
margin: 0 20px;
padding: 10px;
font-size: 18px;
color: var(--branding-color);
  }

  footer .contact-box {
padding: 30px;
background: var(--secondary-color);
box-shadow: var(--box-shadow);
border-radius: 4px;
  }

  .social-media {
    transition: all 100ms ease-in-out;
  }

  .social-media:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(3);
  }

@media (max-width: 900){
    h1{
      text-align: center;
      font-size: 40px;
      line-height: 56px;
    }
    h2 {
      text-align: center;
      font-size: 32px;
    }
    p{
      text-align: center;
    }
  }
